/*basic style settings*/
* {
    margin: 0;
    padding: 0;
}

#logo {
    float: left;
    width: 80px;
    height: 60px;
    position: relative;
}

#titleHeader {
    color: #fff;

    float: left;
}

/* Nav styles */

.nav-menu {
    background-color: #333;
    padding: 1em;
    text-align: center;
    position: sticky;
    overflow: hidden;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-menu li {
    display: inline-block;
    margin-right: 100px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-menu a:hover {
    color: #ccc;
}

.nav-menu a.active {
    color: #66d9ef;
}

/*inbody stylings*/
body {
    background-color: black;
}

h3 {
    color: #fff;
}

#gameTable {
    color: #fff;
}

/*buttons*/

.buttons {
    float: left;
}

.buttons button {
    background-color: #333;
    color: #fff;

}

.buttons button:hover {
    color: #66d9ef;
}

/*table element and atributes*/

#gameTable {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#gameTable tr {

    border-bottom: 1px solid #fff;
}

#gameTable td {
    vertical-align: middle;
    border-right: 1px solid #fff;
    padding: 10px;
}

#gameAtributes {
    color: #fff;
}